@font-face {
    font-family: norse-bold;
    src: url('Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --light-gray:rgb(215, 215, 215);
}

html,body{
    display: flex;
    height: 100%;
    margin: 0;
   
}
.side-screen{
    width: 45vw;
     height: 100vh;
    position: relative;   
    display: flex;
    flex-direction: column;
   
    
}
.card-image{
    width: 100%;
   height:100vh;
   opacity: 0.9;   
}
.header{
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    top: 30rem;
    text-align: center;
    font-size: 1rem;
      display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    
}
.heading{
    position: relative;
    top: -120px;
    font-size: 12rem;
    font-family: norse-bold;
    color:white;
    margin-bottom: -20px;
    font-weight: bolder;
}
.credit a{
    color: white;
}

.credit{
    position: absolute;
    bottom: 0rem;
    left: 25em;
    font-size: 34px;
    color:white;
}
.logo{
    height: 12vh;
}
.mainsection{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.section-one{
    font-size:3rem;
    background-color:var(--light-gray);
    width: 60vw;
    height: 33vh;
    display: flex;
    padding-left: 5rem;
    justify-content: flex-start;
    align-items:center;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.2;
  
}

.section-two{
    padding-left:5rem;
    width: 60vw;
    height: 33vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
input{
    font-size: 4rem;
    border-radius: 8px;
    height: 3rem;
}
label{
    font-size: 2rem;
}
.form-element{
    display: flex;
    flex-direction: column;
   
   
}
.form-heading{
    font-size:4rem;
    font-weight: 900;
}
.element-join{
    display: flex;
    gap: 12rem;
}